@import url(../field/style.css);

.field-error {

  &>label,
  &>legend {
    color: darkred;
  }

  & .field-file-input {
    color: darkred;

    &::file-selector-button {
      border-color: darkred;
    }
  }

  & .field-input {
    border-color: darkred;
  }
}

.field-error-text {
  color: darkred;
  display: none;

  .field-error & {
    display: block;
  }
}
