@import url(../field/style.css);

.field-error-text {
  display: none;
}

.field-error {

  .field-error-text,
  .field-label {
    color: darkred;
    display: block;
  }

  .field-input {
    border-color: darkred;
  }
}
