.action-bar,
.action-pill-bar,
.action-pill-bar-wide,
.action-tab-bar,
.action-tab-bar-wide {
  display: flex;
  list-style: none;
}

.action-bar {
  gap: 1rem;
  padding-left: 0;
}

.action-pill-bar,
.action-pill-bar-wide,
.action-tab-bar,
.action-tab-bar-wide {
  gap: 0.25rem;

  & .action-bar-active-item,
  & .action-bar-active-item-wide,
  & .action-bar-item,
  & .action-bar-item-wide {
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-start-end-radius: 0.25rem;
    border-start-start-radius: 0.25rem;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding: 0.5rem 1rem;
  }

  & .action-bar-active-item {
    background-color: white;
  }

  & .action-bar-item {
    background-color: #eeeeee;

    &:hover {
      background-color: white;
    }
  }
}

.action-pill-bar,
.action-pill-bar-wide {
  padding-left: 0;

  & .action-bar-active-item,
  & .action-bar-item {
    border-color: lightgrey;
    border-end-end-radius: 0.25rem;
    border-end-start-radius: 0.25rem;
  }

  & .action-bar-active-item {
    border-color: darkgrey;
  }
}

.action-tab-bar,
.action-tab-bar-wide {
  border-bottom: 1px solid darkgrey;
  padding-left: 1rem;
  padding-right: 1rem;

  &>* {
    margin-bottom: -1px;

    & .action-bar-active-item {
      border-color: darkgrey darkgrey white darkgrey;
    }

    & .action-bar-item {
      border-color: lightgrey lightgrey darkgrey lightgrey;
    }
  }
}

.action-pill-bar-wide,
.action-tab-bar-wide {
  &>* {
    flex: 1;
  }

  & .action-bar-active-item,
  & .action-bar-item {
    justify-content: center;
  }

  & button.action-bar-active-item,
  & button.action-bar-item {
    width: 100%;
  }
}
