.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &>label,
  &>legend {
    font-weight: bold;

    &>span {
      font-weight: normal;
    }

    &:is(legend) {
      margin-bottom: 0;
      padding: 0;
    }
  }

  &>.field-help-text {
    color: #777777;
    font-size: 0.875em;
  }

  &:is(fieldset) {
    border: 0;
    padding: 0;
  }

  & .field-error-text {
    display: none;
  }

  &.field-show-error.field-error {

    &>label,
    &>legend {
      color: darkred;
    }

    & .field-error-text {
      color: darkred;
      display: block;
    }
  }
}
